{{ if .Node }}import { Game, Verbosity } from './{{.GameName}}/game.js';
{{ else }}import { Game, Verbosity } from './{{.GameName}}/game';
{{end}}{{ if .Node }}
const { game } = await Game.fromArgv({}, Verbosity.WARNING);

// TODO: register event listeners
{{ else }}
(async () => {
  const game = ({ game } = await Game.fromQuery({}, Verbosity.WARNING));

  // TODO: register event listeners
})();
{{ end }}
