import { createSocket } from '@code-game-project/javascript-client';

let [username, gameId] = process.argv.slice(2)

const socket = createSocket("{{.URL}}", 'debug');

// TODO: register event listeners

try {
  await socket.restoreSession(username);
} catch (err) {
  if (!gameId) gameId = await socket.create(true);
  await socket.join(gameId, username);
}
